<div class="columns">
  <div class="column col-6 col-xs-12 my-form">
    <div class="form-group">
      <label class="form-label" for="input-example-1">UserName</label>
      <input class="form-input" type="text" id="input-example-1" [(ngModel)]="cred.uname" placeholder="Name">
    </div>
    <div class="form-group">
      <label class="form-label" for="input-example-2">Password</label>
      <input class="form-input" type="password" id="input-example-2" [(ngModel)]="cred.pass" placeholder="Password">
    </div>
    <div class="form-group">
      <div class="col-3"></div>
      <div class="col-9">
        <button class="btn btn-primary" type="submit" (click)="login()">Submit</button>
        <button class="btn btn-link" type="reset">Cancel</button>
      </div>
    </div>
  </div>
</div>
